== styled_flash
div.main
  div#notify.hideit.notify
  form.fullwidth action='/auth' method='post'
    fieldset.fullwidth 
      div.mui-container-fluid
        div.mui-row
          legend.mui-col-xs-12 Представьтесь...
        div.mui-row
          label.mui-col-xs-5.mui-col-md-3.text-right for='email'
            | Email:
          input#email.mui-col-xs-6.mui-col-md-8 name='email' type='email'
          | &nbsp;
          a.if_email_not_empty onclick="reset_password();"
            | Забыли пароль?
        div.mui-row
          label.mui-col-xs-5.mui-col-md-3.text-right for='password'
            | Пароль:
          input#password.mui-col-xs-6.mui-col-md-8 name='password' type='password'
        div.fullwidth.center
          input type='submit' value='Отправить'

  form.fullwidth action='/register' method='post'
    fieldset.fullwidth
      div.mui-container-fluid
        div.mui-row
          legend Или зарегистрируйтесь
        div.mui-row
          label.mui-col-xs-5.mui-col-md-3.text-right for='reg_email'
            | Email:
          input.mui-col-xs-6.mui-col-md-8 name='reg_email' id='reg_email' type='email'
        div.mui-row
          label.mui-col-xs-5.mui-col-md-3.text-right for='reg_pass'
            | Пароль:
          input.mui-col-xs-6.mui-col-md-8 name='reg_pass' id='reg_pass' type='password'
        div.mui-row
          label.mui-col-xs-5.mui-col-md-3.text-right for='reg_name'
            | Имя в игре:
          input.mui-col-xs-6.mui-col-md-8 name='reg_name' id='reg_name' type='text'
      div.fullwidth.center
        input type='submit' value='Отправить'

javascript:
  function show_notify(text){
    var notify = document.getElementById('notify');
    notify.innerText = text;
    notify.classList.remove('showit');
    void notify.offsetWidth;
    notify.classList.add('showit');
  }
  function reset_password(){
    var el = document.getElementById('email');
    if(el){
      var request = new XMLHttpRequest();
      request.open('POST', '/reset_password', true);
      request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      request.onreadystatechange = function() {
        if(request.readyState == XMLHttpRequest.DONE) {
          if(request.status == 200){
            show_notify(request.responseText);
          }
          else{
            show_notify('Ой, что-то пошло не так... Попробуйте сбросить пароль немного позднее.');
          }
        }
      }

      request.send('email='+el.value);
      show_notify('Отправляем...')
    }
  }

  /*********************************************/
  (function () {
    "use strict";
   
    var cookieName = 'dndCookieAccept'; // The cookie name
    var cookieLifetime = 3650; // Cookie expiry in days
   
    /**
     * Set a cookie
     * @param cname - cookie name
     * @param cvalue - cookie value
     * @param exdays - expiry in days
     */
    var _setCookie = function (cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    };
   
    /**
     * Get a cookie
     * @param cname - cookie name
     * @returns string
     */
    var _getCookie = function (cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    };
   
    /**
     * Should the cookie popup be shown?
     */
    var _shouldShowPopup = function () {
      if (_getCookie(cookieName)) {
        return false;
      } else {
        return true;
      }
    };
   
    // Show the cookie popup on load if not previously accepted
    var notify = document.getElementById('cookieDialog');
    if (_shouldShowPopup()) {
      if(notify){
        notify.classList.remove('hideCookie');
      }
    }
   
    // Dialog dismiss 
    $('#cookieModalConsent').on('click', function () {
      _setCookie(cookieName, 1, cookieLifetime);
    });
   
  })();
css:
  .main {
    width: 90%;
    background-color: #eee;
  }
  @media (min-width: 992px) {
    .main{
      width: 800px;
      background-color: #eee;
    }
  }

  .notify {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #080;

  }
  .hideit {
    margin-top: -2em;
  }
  .showit {
    animation: showit 5s 1;
  }

  @keyframes showit {
    from {
      margin-top: -2em;
    }
    20% {
      margin-top: 0em;
    }
    80% {
      margin-top: 0em;
    }
    to {
      margin-top: -2em;
    }
  }