== styled_flash
div.main.mui-container
  div.app-bar.center
    = @player.name
    | (мастер)
  div.app-bar.mui-container-fluid
    div.mui-row
      div.center.mui-col-xs-2
        a href='/master/msg' Сообщ
        - players = @player.adventure.players.where(is_master: false).order(:name)
        - players.each do |p|
          span id="chat-indicator#{p.id}" class="chat-indicator no-messages" data-chat-id="#{p.id}"
            i.iw-bell
      div.center.mui-col-xs-2.mui--divider-left
        a href='/note' Заметки
      div.center.mui-col-xs-4.mui--divider-left
        a href='/rules' Правила
      div.center.mui-col-xs-2.mui--divider-left
        a href='/map'
          i.iw-map
      div.center.mui-col-xs-2.mui--divider-left
        a href='/logout'
          i.iw-cross

  div.dnd-flex-row.mui--z2.fullwidth
    span.dnd-flex-grow1.mui--text-center onclick="toggle_item('fight');"
      = t('fights')
    span.mui--text-right
      a href="#" onclick="del_fight();"
        i.icon-minus-sign
      | &nbsp;
      a href="#" onclick="new_fight();"
        i.icon-plus-sign
      | &nbsp;&nbsp;
  div#fight.fight.mui--hide
    div.dnd-flex-cont.fullwidth
      span
        = t('fight.fase')
        |: 
      span#fight-fase.dnd-3em.mui--divider-right
        | ...
      span#start-fight-btn.mui-btn.mui-btn--small.mui-btn--primary.mui-btn--raised onclick="start_fight();"
        = t('fight.start')
    div.dnd-flex-cont.mui--z2.fullwidth
      span.mui-select.dnd-flex-grow1
        label for='race_id'
          = t('npc-type')
        select name='race_id' id='npc-type'
          - NpcType.order(:id).each do |r|
            option value="#{r.id}" label='#{t("char.#{r.name}")}'
              = t("char.#{r.name}")
      span.dnd-1em
        |&nbsp;
      span.dnd-7em.mui-btn.mui-btn--small.mui-btn--primary.mui-btn--raised onclick="add_npc();"
        = t('add-npc')
      span.dnd-1em
        |&nbsp;
      span.mui-textfield.dnd-3em
        input#npc-num type="text" placeholder="1"
      span.dnd-1em
        |&nbsp;

    div.dnd-flex-row.fullwidth#fight-list


  div.dnd-flex-row.mui--z2.fullwidth
    span.dnd-flex-grow1.mui--text-center onclick="toggle_item('fight-group');"
      = t('fight-groups')
    span.mui--text-right
      a href="#" onclick="new_figh_group();"
        i.icon-plus-sign
      | &nbsp;&nbsp;
  div#fight-group.fight-group.mui--hide
    div.dnd-flex-row.fullwidth#fight-group-list

javascript:
  var secret="#{{@user.secret}}";
  var player='?player_id='+"#{{@player.id}}";
  function on_websocket_open(ws){
    //ws.send(secret+': get_master');
    ws.send(secret+': player/prefs');
    ws.send(secret+': fight/get_fight');
  }

  function new_fight(){
    ws.send(secret+': fight/new');
  }

  function del_fight(){
    ws.send(secret+': fight/del');
  }

  function add_npc() {
    var npc_type = document.getElementById("npc-type").value;
    var npc_num = get_int_value('npc-num');
    if(Number.isNaN(npc_num))
      npc_num = 1;
    ws.send(secret+': fight/new-npc '+npc_type+' '+npc_num);
  }

  function fight_step_down(index){
    ws.send(secret+': fight/fighter-step '+fighters[index].id+' '+fighters[index].is_npc+' -');
  }

  function fight_step_up(index){
    ws.send(secret+': fight/step '+fighters[index].id+' '+fighters[index].is_npc+' +');
  }

  function fighter_delete(index){
    ws.send(secret+': fight/fighter-del '+fighters[index].id+' '+fighters[index].is_npc);
  }

  function fighter_restore(index){
    ws.send(secret+': fight/fighter-restore '+fighters[index].id+' '+fighters[index].is_npc);
  }

  // change monster HP 
  function f_hp_modify(c,mod){
    var v = get_over_value(null);
    if(v === null){
      if(mod=='=')
        return
      v=1
    }
    if(mod=='+'){
      fighters[c].hp += v;
    }
    else if(mod=='-'){
      fighters[c].hp -= v;
    }
    else{
      fighters[c].hp = v;
    }
    ws.send(secret+': fight/hp '+fighters[c].id+'='+fighters[c].hp);
  }

  function f_hp_plus(c) { f_hp_modify(c,'+') }
  function f_hp_minus(c){ f_hp_modify(c,'-') }
  function f_hp_set(c)  { f_hp_modify(c,'=') }

  // change monster MAX HP 
  function f_max_hp_modify(c,mod){
    var v = get_over_value(null);
    if(v === null){
      if(mod=='=')
        return
      v=1
    }
    if(mod=='+'){
      fighters[c].max_hp += v;
    }
    else if(mod=='-'){
      fighters[c].max_hp -= v;
    }
    else{
      fighters[c].max_hp = v;
    }
    ws.send(secret+': fight/max_hp '+fighters[c].id+'='+fighters[c].max_hp);
  }

  function f_max_hp_plus(c) { f_max_hp_modify(c,'+') }
  function f_max_hp_minus(c){ f_max_hp_modify(c,'-') }
  function f_max_hp_set(c)  { f_max_hp_modify(c,'=') }

  // change monster armor class 
  function f_ac_modify(c,mod){
    var v = get_over_value(null);
    if(v === null){
      if(mod=='=')
        return
      v=1
    }
    if(mod=='+'){
      fighters[c].armor_class += v;
    }
    else if(mod=='-'){
      fighters[c].armor_class -= v;
    }
    else{
      fighters[c].armor_class = v;
    }
    ws.send(secret+': fight/ac '+fighters[c].id+'='+fighters[c].armor_class);
  }

  function f_ac_plus(c) { f_ac_modify(c,'+') }
  function f_ac_minus(c){ f_ac_modify(c,'-') }
  function f_ac_set(c)  { f_ac_modify(c,'=') }

  // change player initiative manually
  function f_init_modify(c,mod){
    var v = get_over_value(null);
    if(v === null){
      if(mod=='=')
        return
      v=1
    }
    if(mod=='+'){
      fighters[c].initiative += v;
    }
    else if(mod=='-'){
      fighters[c].initiative -= v;
    }
    else{
      fighters[c].initiative = v;
    }
    ws.send(secret+': fight/initiative '+fighters[c].id+'='+fighters[c].initiative);
  }

  function f_init_plus(c) { f_init_modify(c,'+') }
  function f_init_minus(c){ f_init_modify(c,'-') }
  function f_init_set(c)  { f_init_modify(c,'=') }

  function start_fight(){
    ws.send(secret+': fight/start');
  }

  /////////////////////////////////////////////////////////////////////////////
  function render_fight_groups() {
    var str = '<div class="mui-row fullwidth"><div class="mui-col-xs-6">Name'+
        '</div><div class="mui-col-xs-2">HP / MAX HP</div>'+
        '<div class="mui-col-xs-1">Armor class</div>'+
        '<div class="mui-col-xs-1">Initiative</div>'+
        '<div class="mui-col-xs-2">Step</div></div>'
    var len = fighters.length;
    for (var i = 0; i <len; i++) {
      str += 
        '<div class="mui-row fullwidth"><div class="mui-col-xs-6 '+
          (fighters[i].is_npc ? 'dnd-npc-fighter' : 'dnd-player-fighter')+
          '">'+
          '<i class="icon-circledelete" onclick="fight_delete('+i+')"></i>&nbsp;'+
          fighters[i].name+' ('+
          fighters[i].race+')</div><div class="mui-col-xs-2">'+
            (fighters[i].is_npc ?
              '<a class="dnd-btn dnd-btn--primary" href="#" onclick="formModal(overForm3(\'f_hp_plus\',\'f_hp_minus\',\'f_hp_set\','+i+'));">'
              : '')+
          fighters[i].hp+
            (fighters[i].is_npc ?
              '</a> / <a class="dnd-btn dnd-btn--primary" href="#" onclick="formModal(overForm3(\'f_max_hp_plus\',\'f_max_hp_minus\',\'f_max_hp_set\','+i+'));">'
              : ' / ')+
          fighters[i].max_hp+
            (fighters[i].is_npc ? '</a>' : '')+
            '</div><div class="mui-col-xs-1">'+
            (fighters[i].is_npc ?
              '<a class="dnd-btn dnd-btn--primary" href="#" onclick="formModal(overForm3(\'f_ac_plus\',\'f_ac_minus\',\'f_ac_set\','+i+'));">'
              : '')+
          fighters[i].armor_class+
            (fighters[i].is_npc ? '</a>' : '')+
            '</div><div class="mui-col-xs-1">'+
          fighters[i].initiative+'</div><div class="mui-col-xs-2">'+
          fighters[i].step_order+
            '&nbsp;<i class="icon-fastdown" onclick="fight_step_down('+i+')"></i>&nbsp;'+
            ' <i class="icon-fastup" onclick="fight_step_up('+i+')"></i>&nbsp;'+
          '</div>'+
        '</div>'
    }
    set_html('fight-list',str);
  }



script src="files/common.js"
