i.iw-edit:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "n";
}
i.iw-cross:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "ù";
}
i.iw-ok:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "Ù";
}
i.iw-up:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "y";
}
i.iw-down:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "Y";
}
i.iw-right:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "W";
}
i.iw-left:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "w";
}
i.iw-power:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "X";
}
i.iw-trash:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "o";
}
i.iw-wheel:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "j";
}
i.iw-heart:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "!";
}
i.iw-star:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "\"";
}
i.iw-map:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "&";
}
i.iw-shield:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "*";
}
i.iw-mouse:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "'";
}
i.iw-camera:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "+";
}
i.iw-unlock:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "-";
}
i.iw-reload:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "1";
}
i.iw-no:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "2";
}
i.iw-target:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "3";
}
i.iw-link:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "9";
}
i.iw-image:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: ":";
}
i.iw-globe:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "<";
}
i.iw-bell:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "J";
}
i.iw-lock:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "_";
}
i.iw-message:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "m";
}
i.iw-updown:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "x";
}
i.iw-diskette:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "}";
}
i.iw-keyboard:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "{";
}
i.iw-eye:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "©";
}
i.iw-home:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "Ç";
}
i.iw-thunderbolt:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "Ï";
}
i.iw-letter:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "à";
}
i.iw-wait:before{
  font-family: 'icon-worksregular';
  text-transform: none;
  font-style: normal;
  content: "ú";
}

.loading {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  57% {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.dnd-flash {
  width: 100%;
  max-height: 1.2em;
  border: 2px solid #e0e080;
  background-color: #f0f0e0;
  text-align: center;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  display: block;
  opacity: 1;
}
.no-messages {
  /*display: none;*/
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  max-width: 0;
  opacity: 0;
}

/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

/* .l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
 */
.center{
  text-align: center;
}

.right {
  float:  right;
}

.text-right{
  text-align: right;
}

.width-1em {
  width: 1.4em;
}

.button-def {
  background-color: #008CBA;
  border: 2px solid #4CAF50;
  border-radius: 10%;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-def:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}

div.main{
  display: block;
  max-width: 1140px;
  width:  100%;
  background: #eee;
  margin: 0 auto;
  padding: 1px;
  overflow: hidden;
}

.p-wrap{
  overflow: hidden;
}


div.header {
  width: 100%;
  background: #eee;
  position: relative;
  display:  block;
}

div.char-info{
  position: relative;
  /*height: 100%;
  */
}

.char-info::after{
  content:'';
  display: block;
  clear:both
}

div.avatar{
  position: relative;
  width:  30%;
  float: left;
}

img.avatar{
  width: 100%;
  height: auto;
  float:left; /* Выравнивание по левому краю */
  margin: 3px;
  display: block;
}
div.fullwidth{
  width:  100%;
}

.player-name{
  font-size: 2em;
}

.player-class{
  font-size: 0.8em;
}

.hp{
  font-size: 1.5em;  
}

.coins-total{
  font-size: 1.1em;
}

.coins{
  font-size: 1em;
  font-weight: bold;
}

.label1 {
  font-size: 1em;
  font-weight: bold;
}

.block{
  display:  block;
}

div.fight{
  
}
div.char{
  
}
div.inventory{
  
}

.connected {
  height: 3px;
  width:  100%;
  background: #0f0;
}

.disconnected {
  height: 3px;
  width:  100%;
  background: #f00;
}

.no-messages {
  display: none;
  opacity: 0;
}

.new-message {
  display: inline;
  color: #e00;
}

.master-name {
  color: #811;
  /* width: 15%; */
}
.my-name {
  color: #181;
/*   width: 15%; */
}

.master-message {
  /* margin-left: 5%; */
  text-align: left;
}
.my-message {
  /* margin-left: 0px; */
  text-align: left;
}

.right-pad {
  padding-right: 0.5em;
}

.dnd-btn--small {
  line-height: 1em;
  padding: 0 6px;
}

.dnd-btn {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin: 2px 2px 2px 2px;
  padding: 3px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.dnd-btn:hover, .dnd-btn:focus, .dnd-btn:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

.dnd-btn--accent {
  color: #FFF;
  background-color: #FF4081;
}

.dnd-btn--accent:hover, .dnd-btn--accent:focus, .dnd-btn--accent:active {
  color: #FFF;
  background-color: #ff5a92;
}

.dnd-btn--primary {
  color: #FFF;
  background-color: #2196F3;
}

.dnd-btn--primary:hover, .dnd-btn--primary:focus, .dnd-btn--primary:active {
  color: #FFF;
  background-color: #39a1f4;
}

.fill-width {
  flex: 1;
}

.auto-width {
  margin: auto;
}

.dnd-flex-row {
  display: inline-flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
}

.dnd-flex-grow1 {
  flex-grow: 1;
}

.dnd-flex-grow2 {
  flex-grow: 2;
}

.dnd-flex-grow0 {
  flex-grow: 0;
}

.modal-form {
  width: 95vw;
  height: 3em;
  margin: 50vh auto;
  padding: 5px;
  background-color: #fff;
}
.modal-help-form {
  width: 95vw;
  height: 33vh;
  margin: 33vh auto;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(33, 150, 243 ,0.9) !important;
  display:  flex;
  flex-direction: column;
  justify-content: center;
}

.align-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.padleft-2pc{
  padding-left: 2%;
}

.circle-around {
    border-radius: 50%;
/*     width: 36px;
    height: 36px;
    padding: 8px;
 */
/*     background: #fff;
 */
    border: 2px solid #111;
    color: #111;
    text-align: center;
    width: 2em;

/*     font: 32px Arial, sans-serif;
 */
}


/* old phones */
@media all and (max-width: 320px){
  div{
    font-size: 8px;
  }
}

@media (min-width: 321px) and (max-width: 740px) {
  div {
    font-size: 13px;
  }
}

@media (min-width: 741px) {
  div {
    font-size: 20px;
  }
  .modal-form {
    width: 60vw;
    height: 3em;
    margin: 50vh auto;
    padding: 5px;
    background-color: #fff;
  }
}